include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include AGENTS.md
graft docs
graft examples
graft tests
prune .pytest_cache
prune .tox
prune dist
prune tmp
recursive-exclude * __pycache__
global-exclude *.py[cod]
